.inputdecor-select *,
.inputdecor-checkbox *,
.inputdecor-radio *,
.inputdecor-file * {
    box-sizing: border-box;
}

.inputdecor-select .list li a {
    text-decoration: none;
    color: #7d7d7d;
    display: inline-block;
    width: 100%;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.inputdecor-select .list li {
    cursor: pointer;
    font-size: 15px;
    color: #7d7d7d;
    padding: 5px 10px;
    margin: 1px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.inputdecor-select .list li:hover {
    background: #38c6ff;
    padding-left: 15px;
    color: white;
}

.inputdecor-select {
    position: relative;
    display: inline-block;
    max-width: 300px;
}
.inputdecor-select .list {
    margin: 0;
    padding: 0;
    border-top: none;
    width: 100%;
    list-style: none;
    font-family: arial;
    border: 2px solid #38c6ff;
    background: white;
    margin-top: 2px;
}
.inputdecor-select .label:before,
.inputdecor-select .label:after {
    content: "";
    background: #505050;
    width: 6px;
    height: 1px;
    right: 10px;
    position: absolute;
    bottom: 0;
    margin: auto;
}
.inputdecor-select .label:before {
    top: -4px;
    transform: rotate(-45deg);
}
.inputdecor-select .label:after {
    top: 4px;
    transform: rotate(45deg);
}
.inputdecor-select .label {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 25px;
    display: block;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.inputdecor-select .label.active {
    transform: rotate(-90deg);
}

.inputdecor-select .button:focus {
    outline: none;
}
.inputdecor-select .rollup:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 4px auto;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 5px solid #38c6ff;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.inputdecor-select .rollup {
    display: block;
    height: 15px;
    text-align: center;
    width: 100%;
    top: 0;
    position: relative;
    cursor: pointer;
    border-top: 1px solid #38c6ff;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.inputdecor-select .rollup:hover {
    background: #38c6ff;
}
.inputdecor-select .rollup:hover:before {
    border-bottom: 5px solid white;
}
.inputdecor-select .button {
    background: none;
    border: 2px solid #dbe2ef;
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    padding: 8px 30px;
    color: #757575;
    font-size: 15px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.inputdecor-select .button.active {
    border: 2px solid #38c6ff;
}
.inputdecor-checkbox .button.active:after,
.inputdecor-checkbox .button.active:before
{
    content: "";
    background: #47c2ff;
    width: 7px;
    height: 3px;
    position: absolute;
    top: 9px;
    left: 2px;
}
.inputdecor-checkbox .button.active:after
{
    width: 7px;
    height: 3px;
    top: 9px;
    left: 2px;
    transform: rotate(45deg);
}

.inputdecor-checkbox .button.active:before {
    width: 9px;
    height: 3px;
    top: 7px;
    left: 6px;
    transform: rotate(-45deg);
}

.inputdecor-checkbox .button.active {
    border: 2px solid #47c2ff;
}

.inputdecor-checkbox .button {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #dbe2ef;
    position: relative;
    cursor: pointer;
}

.inputdecor-checkbox .input[type='checkbox'],
.inputdecor-checkbox .input[type='radio']
{
    display: none;
}

.inputdecor-radio {
    display: inline-block;
}

.inputdecor-radio .button.active:before {
    content: "";
    background: #47c2ff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
}
.inputdecor-radio .button.active {
    border: 2px solid #47c2ff;
}
.inputdecor-radio .button {
    border: 2px solid #dbe2ef;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}