.inputdecor-select *,
.inputdecor-checkbox *,
.inputdecor-radio *,
.inputdecor-file * {
    box-sizing: border-box;
    outline: none;
}
.inputdecor-select *:focus {
    outline: none;
}
.inputdecor-select .list li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.inputdecor-select {
    position: relative;
    display: inline-block;
}
.inputdecor-select .list-wrapper {
    background: white;
    z-index: 1;
}
.inputdecor-select .list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 250px;
    overflow-y: auto;
}
.inputdecor-select .search {
    position: relative;
    display: inline-block;
    flex-grow: 1;
}
.inputdecor-select .search input{
    width: 100%;
}
.inputdecor-select .search .clear {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    cursor: pointer;
}
.inputdecor-select .list-wrapper .empty {
    width: 100%;
    display: inline-block;
}
.inputdecor-select .list-wrapper .search {
    width: 100%;
}
.inputdecor-select .label {
    border: none;
    cursor: pointer;
    z-index: 1;
}
.inputdecor-select .marker {
    display: block;
}
.inputdecor-select .rollup {
    display: block;
    width: 100%;
    height: 10px;
    cursor: pointer;
}
.inputdecor-select .button-wrapper {
    position: relative;
    border: 1px solid black;
    display: flex;
}
.inputdecor-select .button-wrapper .search input {
    border: none;
    height: 100%;
}
.inputdecor-select .button {
    position: relative;
    border: none;
    cursor: pointer;
    background: none;
    min-width: 200px;
    text-align: left;
    overflow: hidden;
    flex-grow: 1;
}
.inputdecor-select.empty .label,
.inputdecor-select.empty .button {
    border-color: #dddddd;
}

.inputdecor-radio,
.inputdecor-checkbox
{
    display: inline-block;
}

.inputdecor-radio .button,
.inputdecor-checkbox .button
{
    min-height: 15px;
    min-width: 15px;
    position: relative;
    cursor: pointer;
}
.inputdecor-radio .button {
    border-radius: 50%;
}

.inputdecor-file {
    display: inline-block;
}
.inputdecor-file .button,
.inputdecor-file .close {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.inputdecor-file .files-list,
.inputdecor-file .close,
.inputdecor-file .file,
.inputdecor-file .size
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}